.create-post {
	position: absolute;
	top: 4px;
	left: 4px;
	display: flex;
	flex-direction: column;
}

.create-post textarea {
	resize: none;
	flex-grow: 1;
}

.create-post .buttons {
	flex-direction: row;
	justify-content: space-between;
	display: flex;
}